<h2 align="center">Edit <%= @edit_lion.first_name %> <%= @edit_lion.last_name %>'s Page</h2>
<hr>

<form action= '/sealions' method='post'>
<input type="hidden" name="_method" value="put">

  <input type='text' placeholder='First Name' name='first_name' value="<%= @edit_lion.first_name %>" />
  <input type='text' placeholder='Last Name'  name='last_name' value="<%= @edit_lion.last_name %>" />

  <input type='submit' value='Update Sealion!' />
</form>