<h1 align="center">Sealions</h1>
<hr>
<% @sealion.each_with_index do |person, index| %>
<%= index+1 %>) <a href="/sealions/<%= person.id %>"><%= person.first_name %> <%= person.last_name %></a><br>
<% end %>