<div class="container">
  <h2> create your brand new sealion here:</h2>
  <form action ="/sealions" method="POST" >
    <input type="text" name="name" placeholder="name"/><br><br>
    <input type="text" name="favourite_dance" placeholder="favourite dance"><br><br>
    <input type="submit" value="create">
</div>