<h1 align="center"><%= @sealion.first_name %> <%= @sealion.last_name %></h1>
<hr>
<a href="/sealions/<%= @sealion.id %>/edit">Edit sealion</a>
<a href="/sealions/<%= @sealion.id %>/delete">Delete sealion</a>
<br>
<p style="font-size: 1000%"> yeeeeeeeee bro</p>