<div id="display" class="display"></div>
<ul>
    <li onclick="calculate(this, '7')">7</li>
    <li onclick="calculate(this, '8')">8</li>
    <li onclick="calculate(this, '9')">9</li>
    <li onclick="calculate(this, 'Clear')">C</li>
    <li onclick="calculate(this, 'All Clear')">AC</li>
    <li onclick="calculate(this, '4')">4</li>
    <li onclick="calculate(this, '5')">5</li>
    <li onclick="calculate(this, '6')">6</li>
    <li onclick="calculate(this, 'x')">x</li>
    <li onclick="calculate(this, '/')">/</li>
    <li onclick="calculate(this, '1')">1</li>
    <li onclick="calculate(this, '2')">2</li>
    <li onclick="calculate(this, '3')">3</li>
    <li onclick="calculate(this, '+')">+</li>
    <li onclick="calculate(this, '-')">-</li>
    <li onclick="calculate(this, '0')">0</li>
    <li onclick="calculate(this, '.')">.</li>
    <li onclick="calculate(this, '=')">=</li>
</ul>
