<h1>Welcome to Pier 39</h1>
<p>Many sealions dwell here. Learn about them below:</p>
<ul>
  <% sealions.each do |lion| %>
  <li><a href='/sealions/<%= lion.id %>'><%= lion.name %></a></li>
  <% end %>
</ul>