<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css' />
  <link rel='stylesheet' href='/stylesheets/application.css' type='text/css' />
  <script src='javascripts/main.js'></script>
  <title><%= @title || "LightSaber" %></title>
</head>
<body>
  <div id="header">
    <%= erb :"_error" %>
  </div>
    <%= yield %>
</body>
</html>