<!doctype html>
<html>
  <head>
    <title><% sealion.name %></title>
  </head>
  <body>

    <button>
      <a href="/sealions/<%= sealion.id %>/edit">Edit</a>
    </button>

    <h1><%= sealion.name %></h1>
  </body>
</html>